* {
  margin: 0;
  padding: 9;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: aliceblue;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.page-container {
  min-height: 100vh;
  position: relative;
  padding-bottom: 3rem;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0em auto;
  align-items: center;
}
nav ul {
  flex-grow: 1;
  padding: 0;
  margin: auto;
}
nav img {
  -webkit-filter: drop-shadow(2px 1px 2px #7e0c04);
  filter: drop-shadow(2px 1px 2px #7e0c04);
  width: 180px;
  margin-right: 7em;
}
.cart-text {
  display: flex;
  align-items: center;
}
.cart-text p {
  font-size: 1.6em;
  font-weight: bold;
}
nav ul li {
  display: inline-block;
  margin: 0em 1em;
  text-transform: capitalize;
  color: #3d3d3d98;
  font-size: 0.85em;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
  padding: 0em 0.4em 0.4em;
}
nav ul li:hover {
  border-bottom: 1px solid #2e2e2e;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.products-content {
  width: 75%;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 3rem;
}

.filter_products {
  height: 560px;
  margin-right: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 1em;
  position: sticky;
}
.categories,
.companies-container,
.colors-container,
.freeShipping {
  margin: 0.6em 0em;
}
.filter_products h4 {
  font-size: 0.9em;
  color: rgb(53, 53, 53);
  margin-bottom: 0.6em;
}
.filter_products select {
  background-color: rgb(240, 240, 240);
  width: 100%;
  border-radius: 6px;
  border: none;
  padding: 0.3em 0em;
  outline: none;
}
.filter_products input[type="text"] {
  background-color: rgb(240, 240, 240);
  width: 100%;
  border-radius: 6px;
  border: none;
  padding: 0.3em 0em;
  outline: none;
  text-indent: 0.2em;
}
.colors {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.colors span,
.colors-product span {
  color: rgb(102, 181, 250);
  font-size: 0.9em;
}
.colors .single-color,
.colors-product .single-color {
  outline-offset: 0.1em;
  opacity: 0.5;
  cursor: pointer;
}
.colors .single-color.selected-color,
.colors-product .single-color.selected-color {
  outline: 1px solid black;
  position: relative;
  opacity: 0.9;
}
.colors .single-color.selected-color:after {
  content: "\2713";
  font-size: 0.6em;
  color: #fff;
  position: absolute;
  top: 4px;
  left: 7px;
  text-align: center;
}
.price p {
  color: rgb(29, 29, 29);
  font-size: 0.8em;
}
.categories p.select-category {
  text-decoration: underline;
  opacity: 1;
}
.categories p {
  text-transform: capitalize;
  cursor: pointer;
  font-size: 0.8em;
  color: rgb(66, 162, 247);
  opacity: 0.5;
}
.products {
  position: relative;
  flex-basis: 80%;
}
.filter-view {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  align-items: center;
  gap: 2em;
  margin-bottom: 1.2em;
}
.filter-view label {
  font-size: 0.9em;
  margin-right: 0.2em;
}
.filter-view select {
  border: none;
  font-size: 0.9em;
}
.filter-grid-list div {
  display: inline-block;
}
.filter-view hr {
  border: none;
  border-top: 1px solid black;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}
.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
}
.list .image-container {
  margin-right: 1em;
}

.products .image-container {
}
.products .image-container img {
  border-radius: 6px;
  object-fit: cover;
  height: 150px;
}
.list .image-container img {
  border-radius: 6px;
  object-fit: cover;
  height: 150px;
}
.listed-product-info {
  position: relative;
  flex-basis: 70%;
}
.details-btn a {
  color: rgba(255, 255, 255, 0.726);
  text-decoration: none;
}
.details-btn {
  border: 0;
  border-radius: 4px;
  background-color: rgb(5, 143, 153);
  color: #fff;
  padding: 0.5em 0.7em;
  font-size: 0.65em;
  cursor: pointer;
}
.products p {
  margin: 0.6em 0em;
  font-size: 0.7em;
  margin-bottom: 1.2em;
}
.listed-product {
  margin: 0.6em 0em;
  display: flex;
}
.listed-product-info h4 {
  color: rgb(32, 32, 32);
  font-weight: normal;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}
.listed-product-info h5 {
  color: rgb(5, 143, 153);
  font-weight: normal;
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

.grid-product img {
  width: 100%;
}
.listed-product img {
  width: 200px;
}
.freeShipping {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.freeShipping h4 {
  font-weight: normal;
  color: rgb(66, 162, 247);
}
.freeShipping input {
}
.clear-filters-btn {
  color: #fff;
  font-size: 0.8em;
  font-weight: bold;
  padding: 0.3em;
  background-color: rgb(56, 56, 56);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.paginator {
  position: absolute;
  bottom: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.paginator .page-btn {
  border-radius: 4px;
  margin: 0px 0.6em;
  border: 1px solid rgba(70, 70, 70, 0.5);
  padding: 0.1em 0.6em;
  cursor: pointer;
}
.filter-view-btn {
  cursor: pointer;
}
.filter-grid-list svg {
  font-size: 1.2em;
  border: 1px solid rgb(102, 181, 250);
  border-radius: 6px;
  padding: 0.1em;
  margin-right: 0.4em;
  color: rgb(102, 181, 250);
}
.filter-grid-list .filter-view-selected {
  color: #fff;
  background-color: rgb(102, 181, 250);
}
.page-active {
  background-color: rgba(1, 130, 139, 0.781);
  color: #fff;
}
.grid-product {
  position: relative;
}
.grid-product-container {
}
.grid-product-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.grid-product-info h4 {
  color: rgb(32, 32, 32);
  font-weight: normal;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}
.grid-product-info h5 {
  color: rgb(5, 143, 153);
  font-weight: normal;
  font-size: 0.8em;
  letter-spacing: 0.1em;
}
.overlay {
  transition: 0.3s ease-in-out;
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 97%;
  background-color: rgba(0, 0, 0, 0.404);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  opacity: 0;
  border-radius: 6px;
}
.overlay a {
  color: #fff;
}
.overlay svg {
  border-radius: 50%;
  padding: 0.4em;
  cursor: pointer;
  background-color: rgb(5, 143, 153);
}
.overlay:hover {
  opacity: 1;
}

.rating {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  font-size: 1.2em;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}

.rating-lower {
  padding: 0;
  display: flex;
  z-index: 0;
}
.single-product-content {
  width: 80%;
  margin: auto;
  margin-bottom: 3rem;
}
.single-product-info {
  display: flex;
  justify-content: space-between;
}
.single-product-info .images {
  flex-basis: 47%;
}
.single-product-info .info {
  flex-basis: 47%;
}
.single-product-info .images-container {
  display: flex;
  flex-wrap: wrap;
}
.single-product-info .images-container img {
  width: 30%;
  height: 100px;
  margin: 0.2em;
  cursor: pointer;
  border-radius: 6px;
  object-fit: cover;
}
.single-product-info .current-image {
}
.single-product-info .current-image img {
  border-radius: 6px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.single-product-info .info h2 {
  font-size: 2em;
  color: rgb(53, 53, 53);
  margin-bottom: 0.6em;
  text-transform: capitalize;
}
.stars {
  display: flex;
  align-items: center;
}
.stars p {
  display: inline-block;
  margin-left: 2em;

  font-size: 0.8em;
  color: rgb(68, 68, 68);
}
.single-product-info .price {
  margin: 0.1em 0em;
  font-size: 1.3em;
  color: rgb(161, 31, 31);
}
.single-product-info .descripion {
  font-size: 0.8em;
  line-height: 1.6em;
  color: #2e2e2e;
}
.infos div,
.colors-product {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0em;
}
.infos div h5 {
  color: #464646;
  margin-right: 2em;
}
.infos div p {
  font-size: 0.8em;
  line-height: 1.6em;
  color: #2e2e2e;
}
.info hr {
  display: block;
  margin-bottom: 2em;
}
.selected-img {
  border: 1px solid crimson;
  transform: scale(0.9);
}

.colors-product .single-color.selected-color:after {
  content: "\2713";
  font-size: 1em;
  color: #fff;
  position: absolute;
  top: 4px;
  left: 8px;
  text-align: center;
}
.add-to-cart .btns {
  display: flex;
  margin-bottom: 1em;
  align-items: center;
}
.add-to-cart div p {
  font-size: 2em;
  font-weight: bold;
  margin: 0em 0.6em;
  display: inline-block;
}
.add-to-cart svg {
  display: inline-block;
  width: 34px;
  height: 34px;
  stroke-width: 1px;
  cursor: pointer;
}
.add-to-cart svg:active {
  fill: rgb(161, 31, 31);
}
.add-to-cart-btn {
  background-color: rgb(161, 31, 31);
  opacity: 0.7;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.7em 1em;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 400;
  letter-spacing: 0.15em;
  cursor: pointer;
}

.back-to-products-btn {
  background-color: rgb(161, 31, 31);
  opacity: 0.7;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.7em 1em;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 400;
  letter-spacing: 0.15em;
  cursor: pointer;
  margin-bottom: 2em;
  margin-top: 1.8em;
}
.cart-login {
  cursor: pointer;
}
.cart-login a {
  text-decoration: none;
  color: #2e2e2e;
  display: inline-block;
  font-size: 0.7em;
}
.cart-login svg {
  font-size: 2.5em;
}
.cart {
  display: flex;
  align-items: center;
}

.cart-container {
  position: relative;
}
.empy-cart {
  margin-bottom: 300px;
}
.cart-number {
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #fff;
  content: "";
  width: 20px;
  height: 20px;
  background-color: rgba(1, 130, 139, 0.781);
  position: absolute;
  top: -5px;
  right: -10px;
  border-radius: 50%;
}
.breadcrumbs-container {
  padding: 2.8em 0em;
  margin: 0.6em 0em;
  background-color: rgba(1, 130, 139, 0.281);
}
.breadcrumbs-content {
  width: 75%;
  margin: auto;
  display: flex;
}
.breadcrumbs-content a {
  font-weight: bold;
  font-size: 1.6em;
  color: rgb(0, 68, 88);
  text-decoration: none;
}
.breadcrumbs-content p {
  text-transform: capitalize;
  font-weight: bold;
  color: #fff;
  font-size: 1.6em;
}
.cart-page-content {
  width: 80%;
  margin: 1em auto;
}
.image-and-info {
  height: 100%;
  display: grid;
  grid-template-columns: 100px 100px;
  -webkit-box-align: center;
  align-items: center;
  gap: 1rem;
  text-align: left;
  flex-basis: 30%;
}
.cart-page-content img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.quantity {
  display: flex;
}
.cart-page-content .info .color {
  display: flex;
  align-items: center;
}
.cart-page-content .info {
  font-size: 0.8em;
  color: #2e2e2e;
}
.cart-page-content .info .name {
  text-transform: capitalize;
}
.cart-page-header {
  display: grid;
  grid-template-columns: 316px 1fr 1fr 1fr auto;
  justify-items: center;
  column-gap: 1rem;
}
.cart-page-header h4 {
  font-weight: normal;
  font-size: 1em;
}
.cart-page-header h4:nth-child(1) {
  flex-basis: 25%;
}
.cart-page-container hr {
  margin: 0.6em auto 1.2em auto;
}
.cart-page-content .price,
.cart-page-content .subtotal {
  font-size: 0.8em;
  font-weight: bold;
}
.quantity p {
  margin: 0em 1em;
}
.quantity button {
  font-size: 0.8em;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border: 1px solid black;
  cursor: pointer;
}
.subtotal {
  position: relative;
  display: flex;
  align-items: center;
}
.subtotal svg {
  fill: #fff;
  background-color: red;
  border-radius: 5px;
  font-size: 1.2em;
  padding: 0.3em;
  margin-left: 2em;
  cursor: pointer;
}
.cart-items-all {
  display: grid;
  grid-template-columns: 350px auto auto auto;
  grid-template-rows: 75px;
  gap: 3rem 1rem;
  place-items: center;
  margin-bottom: 1rem;
  -webkit-box-align: center;
}
.empy-cart {
  margin-top: 3em;
  text-align: center;
}
.cart-page-container .btns {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.cart-page-container .btns a {
  text-decoration: none;
  color: #fff;
}
.cart-page-container .btns button:nth-child(1) {
  border-radius: 6px;
  background-color: rgb(5, 111, 119);
  color: #fff;
  font-size: 0.65em;
  cursor: pointer;
  border: none;
  padding: 0.8em 0.3em;
}
.cart-page-container .btns button:nth-child(2) {
  background-color: #2e2e2e;
  color: #fff;
  font-size: 0.65em;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 0.8em 0.3em;
}
.proceed-container {
  width: 80%;
  margin: auto;
}
.cart-page-container .proceed {
  border: 1px solid rgba(49, 49, 49, 0.726);
  width: 40%;
  margin: auto;
  margin-right: 0em;
  margin-top: 1em;
  border-radius: 5px;
  color: #2e2e2e;
}

.cart-page-container .proceed h4 {
}
.cart-page-container .proceed div {
  width: 90%;
  margin: auto;
  margin-bottom: 0.4em;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}
.cart-page-container .proceed h4 {
}
.cart-page-container .proceed hr {
  width: 80%;
  margin: auto;
}
.cart-page-container .proceed div:nth-child(1) {
  font-weight: bold;
  font-size: 1em;
}
.cart-page-container .proceed div:nth-child(2) {
  font-weight: 400;
  font-size: 0.8em;
  margin-bottom: 2em;
}
.cart-page-container .proceed div:nth-child(2) h4 {
  font-weight: 400;
}
.cart-page-container .proceed .proceed-total {
  font-weight: bolder;
  font-size: 1.3em;
  margin-top: 0.8em;
  margin-bottom: 1.2em;
}
.welcome-container {
  margin-bottom: 3.5em;
}
.welcome-content,
.about-content {
  width: 75%;
  margin: auto;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.welcome-content {
  margin-bottom: 0em;
}

.welcome-content .left-side,
.about-content .left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6em 0em;
  flex-basis: 40%;
}
.welcome-content .left-side h2 {
  width: 80%;
  font-size: 2.4em;
  line-height: 1em;
  color: rgb(54, 54, 54);
}
.welcome-content .left-side p {
  margin: 2em 0em;
  line-height: 2.2em;
  font-size: 1em;
  color: #4e4e4ea6;
}
.welcome-content .left-side button {
  background-color: #7e0c04;
  color: rgba(255, 255, 255, 0.87);
  font-size: 0.65em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: lighter;
  padding: 1.2em;
  width: 140px;
  letter-spacing: 0.3em;
}
.welcome-content .right-side {
  flex-basis: 50%;
  position: relative;
}

.welcome-content .right-side img {
  border-radius: 4px;
  object-fit: cover;
  position: absolute;
}
.welcome-content .right-side img:nth-child(1) {
  width: 95%;
  right: 0;
  height: 450px;
  bottom: 0px;
  z-index: 2;
}
.welcome-content .right-side img:nth-child(2) {
  bottom: 0px;
  left: -50px;
  height: 130px;
  width: 200px;
  z-index: 3;
}
.welcome-content .right-side div {
  z-index: 1;
  height: 350px;
  width: 100%;
  background-color: #7e0c0460;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 4px;
}
.about-content .left-side img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.about-content {
  margin-top: 4em;
}
.about-content .left-side,
.about-content .right-side {
  flex-basis: 47%;
  padding: 0;
}
.about-content .right-side hr {
  width: 140px;
  margin-top: 0.4em;
  border-top: 5px solid rgba(161, 31, 31, 0.692);
}
.about-content .right-side h2 {
  font-size: 2.4em;
  line-height: 1em;
  color: rgb(54, 54, 54);
}
.about-content .right-side p {
  margin: 2em 0em;
  line-height: 2.2em;
  font-size: 1em;
  color: #4e4e4e;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 0.9em;
  margin-top: 4em;
}

footer span {
  color: #06a4af;
}

/* SLIDER */
.slider-container {
  background-color: rgb(226, 240, 253);
  padding: 2.2em 0em;
  padding-bottom: 4em;
}
.slider-container h2 {
  font-size: 2.4em;
  line-height: 1em;
  color: rgb(54, 54, 54);
  text-align: center;
}
.slider-container hr {
  width: 200px;
  margin: auto;
  margin-top: 1em;
  border-top: 5px solid #7e0c04;
}
.slider-container button {
  background-color: rgb(5, 111, 119);
  color: rgba(255, 255, 255, 0.74);
  font-size: 0.65em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: lighter;
  letter-spacing: 0.3em;
  padding: 1em;

  width: 150px;
  display: block;
  margin: auto;
  margin-top: 4em;
  text-transform: uppercase;
}
.slider {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  position: relative;
  width: 70%;
  margin: auto;
  height: 300px;
  padding: 0em 3%;
  overflow: hidden;
}
.slider .grid-product img {
  height: 100%;
}
.inner-slider .image-container {
  width: 190px;
  margin: auto;
  height: 190px;
  background-color: rgb(187, 187, 187);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.4s ease-in-out;
}
.transform1plus .image-container {
  -webkit-box-shadow: 5px 5px 33px -5px #000000;
  box-shadow: 5px 5px 33px -5px #000000;
}
.last .image-container {
  -webkit-box-shadow: 5px 5px 33px -5px #000000;
  box-shadow: 5px 5px 33px -5px #000000;
}
.first .image-container {
  -webkit-box-shadow: 5px 5px 33px -5px #000000;
  box-shadow: 5px 5px 33px -5px #000000;
}
.transform2plus .image-container {
  -webkit-box-shadow: 5px 5px 10px -7px #000000;
  box-shadow: 5px 5px 10px -7px #000000;
}
.current .image-container {
  -webkit-box-shadow: 5px 5px 10px -7px #000000;
  box-shadow: 5px 5px 10px -7px #000000;
}

.inner-slider .image-container .inner-slider .image-container img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
}
.inner-slider {
  width: 33%;
  margin-top: 4em;
  position: absolute;
  opacity: 1;
  text-align: center;
  display: inline-block;
  transition: transform 1s ease-in-out, opacity 0.2s ease-in-out;
}
.inner-slider:hover {
  opacity: 1;
}
.next {
  opacity: 0.9;
  transform: translateX(100%);
}
.prev {
  opacity: 0.9;
  transform: translateX(-100%);
}

.prev-btn {
  top: 120px;
  left: 0;
  z-index: 7;
  position: absolute;
  z-index: 5;
  color: #fff;
  background-color: rgba(5, 161, 182, 0.384);
  border: none;
  cursor: pointer;
  padding: 0.6em 0.8em;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}
.prev-btn:hover,
.next-btn:hover {
  background-color: rgba(5, 161, 182, 0.87);
}
.next-btn {
  top: 120px;
  right: 0;
  position: absolute;
  z-index: 5;
  color: #fff;
  background-color: rgba(5, 161, 182, 0.384);
  border: none;
  cursor: pointer;
  padding: 0.6em 0.8em;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}
.d-none {
  opacity: 0;
  transform: translateX(200%);
}
.taj {
  opacity: 0;
  transform: translateX(-200%);
}
.quote {
  color: rgb(219, 180, 4);
  display: inline;
  font-size: 3em;
}
.first {
  opacity: 1;
  transform: translateX(-100%);
}
.current {
  opacity: 0.6;
  transform: translateX(-100%);
}
.transform1minus {
  transform: translateX(-200%);
}
.transform2minus {
  transform: translateX(-300%);
}
.transform3minus {
  transform: translateX(-400%);
}
.transform4minus {
  transform: translateX(-500%);
}
.transform5minus {
  transform: translateX(-600%);
}
.transform6minus {
  transform: translateX(-700%);
}
.transform1plus {
  transform: translateX(0%);
}
.transform2plus {
  opacity: 0.6;
  transform: translateX(100%);
}
.last {
  opacity: 1;
  transform: translateX(100%);
}

.pre-last {
  transform: translateX(0%);
  opacity: 0.6;
}
.post-first {
  transform: translateX(0%);
  opacity: 0.6;
}
.transform3plus {
  transform: translateX(200%);
}
.transform4plus {
  transform: translateX(300%);
}
.transform5plus {
  transform: translateX(400%);
}
.transform6plus {
  transform: translateX(500%);
}

.slider .grid-product-info {
  flex-direction: column;
  justify-content: center;
  font-size: 1.1em;
}
.slider .grid-product-info h4 {
  color: #3a3a3a;
}
.slider .grid-product-info h5,
.slider .grid-product-info h4 {
  font-weight: bold;
}
.slider .grid-product-info h5 {
  color: #7e0c04;
}

.slider-image-container {
  position: relative;
}
.slider .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  width: 190px;
  margin: auto;
  height: 190px;
  border-radius: 50%;
  opacity: 0;
}
.slider .overlay:hover {
  opacity: 1;
}
.custom-container {
  position: relative;
  background-color: #06a4af2f;
}
.bg-clip {
  position: absolute;
  width: 100%;
  height: 80%;
  background-color: #abe0e4;
  z-index: 3;
}
.custom-content {
  position: relative;
  z-index: 5;
  margin: 0em auto;
  width: 80%;
}
.custom-content .upper {
  padding: 5em 0em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.custom-content .upper h2 {
  font-size: 2em;
  color: rgb(53, 53, 53);

  width: 30%;
}
.custom-content .upper p {
  width: 50%;
  line-height: 1.5em;
  letter-spacing: 0.1em;
}
.custom-content p {
  font-size: 0.8em;
}
.custom-content .lower {
  display: flex;
  justify-content: space-between;
}
.custom-content .lower .card {
  padding: 0em 1em;
  margin: 0em 1em;
  border-radius: 4px;
  text-align: center;
  background-color: #06a4af;
}
.custom-content .lower .card svg {
  background-color: #abe0e4;
  padding: 0.3em;
  border-radius: 50%;
  margin: 1em;
  margin-bottom: 0.2em;
  font-size: 2.4em;
}
.custom-content .lower .card h3 {
  margin-bottom: 0.6em;
}
.custom-content .lower .card p {
  line-height: 1.7em;
  color: #2b2b2b;
  margin-bottom: 3.6em;
}
.newsletter-container {
  background-color: #06a4af2f;
}
.newsletter-content {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.newsletter-content .left-side {
  width: 50%;
  margin: 4em 0em;
}
.newsletter-content .left-side h2 {
  font-size: 1.8em;
  color: rgb(53, 53, 53);
  margin-bottom: 0.6em;
}
.newsletter-content .left-side p {
  line-height: 1.7em;
  color: #2b2b2b;
  margin-bottom: 3.6em;
  font-size: 0.85em;
}
.newsletter-content .right-side input {
  display: inline-block;
}
.newsletter-content .right-side input[type="text"] {
  background-color: transparent;
  border: 2px solid rgb(26, 26, 26);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0.3em 0.5em;
  font-size: 1em;
  border-right: 0em;
}
.newsletter-content .right-side input[type="submit"] {
  color: #fff;
  background-color: #06a4af;
  border: 2px solid rgb(26, 26, 26);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0.3em 0.5em;
  font-size: 1em;
  border-left: 0em;
}
ul h4 {
  display: none;
}
.nav-overlay {
  display: none;
}
.menu {
  display: none;
}
.mobile-cart {
  display: none;
}
.inner-slider .image-container {
  border-radius: 5px;
  margin-bottom: 1em;
}
.slider .overlay {
  border-radius: 5px;
}
.slider .grid-product img {
  border-radius: 5px;
}
/*MEDIA QUERIES*/

@media screen and (max-width: 820px) {
  .mobile-cart {
    display: block;
  }
  .menu {
    font-size: 2em;
    display: block;
  }
  .welcome-content .right-side {
    display: none;
  }
  .welcome-content .left-side,
  .about-content .left-side {
    flex-basis: 100%;
  }
  .inner-slider .image-container {
    width: 120px;
    height: 120px;
  }
  .slider .overlay {
    width: 120px;
    height: 120px;
  }
  .custom-content .upper h2 {
    width: 100%;
  }
  .custom-content .upper p {
    width: 100%;
  }
  .custom-content .upper {
    flex-wrap: wrap;
    text-align: center;
  }
  .cart-login {
    display: none;
  }
  ul h4 {
    display: block;
    text-align: center;
    font-size: 3.6em;
    font-weight: lighter;
    color: #4b0803;
    margin-bottom: 1.2em;
    margin-top: 1em;
  }
  nav ul {
    transition: 0.2s ease-in-out;
    transform: translateX(-100%);
    text-align: right;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #99afb1;
    height: 100vh;
    z-index: 20;
    left: 0;
    top: 0;
    width: 50%;
  }
  nav ul li {
    margin: 0.5em 0;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 2em 0em;
    padding-right: 3em;
  }
  nav ul li:hover {
    background-color: #4b0803;
    color: #fff;
  }
  nav {
    width: 95%;
  }
  .nav-overlay {
    display: block;
    transform: translateX(-100%);
    z-index: 7;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.151);
    transition: opacity 0.2s ease-in-out;
  }
  .open-overlay {
    transform: translateX(0%);
    opacity: 1;
  }
  .openMenu {
    transform: translateX(0%);
  }
  .custom-content .lower {
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
  }
  .custom-content .lower .card {
    margin-bottom: 1.2em;
  }
  .newsletter-content {
    flex-wrap: wrap;
  }
  .newsletter-content .left-side,
  .newsletter-content .right-side {
    width: 100%;
  }
  .newsletter-content .left-side {
    margin-bottom: 0.2em;
  }
  .newsletter-content .right-side {
    text-align: center;
    padding-bottom: 3em;
  }
  .slider {
    width: 90%;

    margin: 0;
    margin-left: 20px;
    padding: 0;
  }
  .prev-btn {
    top: unset;
    bottom: 0;
    left: 140px;
  }
  .next-btn {
    top: unset;
    bottom: 0;
    right: 140px;
  }
  .custom-content .upper p {
    margin-top: 0.6em;
  }
  .newsletter-content {
    width: 90%;
  }
  nav img {
    margin-right: 0;
  }
  .breadcrumbs-content {
    width: 95%;
    font-size: 0.8em;
  }
  .single-product-content {
    width: 95%;
  }
  .single-product-info {
    flex-wrap: wrap;
  }
  .single-product-info .images {
    flex-basis: 100%;
  }
  .single-product-info .info {
    flex-basis: 100%;
  }
  .add-to-cart .btns {
    align-items: center;
    justify-content: center;
  }
  .add-to-cart {
    text-align: center;
  }
  .products-content {
    width: 95%;
  }
  .products-content {
    flex-wrap: wrap;
  }
  .filter_products {
    margin: auto;
    flex-basis: 100%;
  }
  .filter_products {
    margin-bottom: 1em;
    position: static;
    height: auto;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .paginator {
    bottom: -35px;
  }
  .products {
    flex-basis: 100%;
  }
  .categories-p {
    transition: height 0.2s ease-in-out;
    height: 0px;
    overflow: hidden;
  }
  .categories-p-open {
    height: auto;
  }
  .filter-view {
    grid-template-columns: auto auto auto;
  }
  .products p {
    margin: 0;
    font-size: 1em;
  }
  .cart-page-container .proceed {
    width: 100%;
  }
  .proceed-container {
    flex-basis: 100%;
  }
  .cart-page-content {
    width: 95%;
  }
  .cart-page-header {
    display: none;
  }
  .image-and-info {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
  }
  .cart-items-all {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  .cart-items-all {
    gap: 0;
  }
  .cart-page-content .price,
  .cart-page-content .subtotal {
    margin: auto;
  }
  .cart-page-content img {
    max-height: 220px;
  }
  .cart-page-content .info {
    font-size: 1.2em;
  }
  .image-and-info {
    justify-content: center;
  }
  .image-and-info .info {
    margin-bottom: 1.2em;
    width: 70%;
    display: flex;
  }
  .quantity {
    flex-basis: 100%;
    justify-content: center;
    margin: 1em 0em;
    text-align: center;
    font-size: 1.2em;
  }
  .filter_products input[type="text"] {
    font-size: 1.2em;
    margin-bottom: 1em;
  }
  .filter_products h4 {
    margin: 0.2;
  }
  .freeShipping {
    align-items: baseline;
    justify-content: unset;
  }
  .freeShipping h4 {
    margin-right: 3em;
  }
  .image-and-info .info div {
    margin: auto;
  }
  .welcome-content,
  .about-content {
    width: 95%;
    flex-wrap: wrap;
  }
  .about-content .left-side,
  .about-content .right-side {
    margin-top: 2em;
    flex-basis: 100%;
  }
}
@media screen and (max-width: 530px) {
  .grid {
    grid-template-columns: 1fr;
  }
  nav ul {
    width: 70%;
  }
  nav ul .cart {
    margin-left: 2em;
    margin-top: 2em;
  }
  nav ul svg {
    font-size: 2em;
  }
  .inner-slider .image-container {
    width: 100px;
    height: 100px;
  }
  .slider .overlay {
    width: 100px;
    height: 100px;
  }
  .slider {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .prev-btn {
    top: unset;
    bottom: 0;
    left: 110px;
  }
  .next-btn {
    top: unset;
    bottom: 0;
    right: 110px;
  }
  .newsletter-content {
    width: 95%;
  }
  .custom-content {
    width: 95%;
  }
}
